
.leftside{
    background-color: #fff;
    /* overflow: hidden; */
}

.rightside {
    background-color: #f8f8f8;
    /* overflow: hidden; */
}

body {
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

/* .container-fluid {
border-right: 20px solid black;
border-left: 20px solid black;
} */

p, #login, .brand, .webpage {
    font-size: 12px;
}

p {
    color: #909090;
}

#login {
    background-color: orange;
    border: none;
}

h5 {
    line-height: 1.5em;
}

#webpage {
    margin-bottom: 20px;
    margin-top: 10px;
}


@media screen and (min-width:600px){
    .leftside, .rightside {
        height: 100vh;
    } 
}


@media screen and (max-width: 600px){
    [class*="col-"] { width: 100%; }
     #webpage { height: 230px;}
     h5 { font-size: 17px;}
     p { text-align: center; }
     body { margin-left: 5px;
           margin-right: 5px; }
}