
.leftside{
    background-color: #fff;
    /* overflow: hidden; */
}

.rightside {
    background-color: #f8f8f8;
    /* overflow: hidden; */
}

body {
    background-color: black;
}

p, #login, .brand, .webpage {
    font-size: 13px;
}

p {
    color: #909090;
}

#login {
    background-color: orange;
    border: none;
    font-size: 13px;
}

img {
    display: block;
}

.container-fluid {
    overflow: hidden;
}

@media screen and (min-width:768px){
    .leftside, .rightside {
        height: 100vh;
    } 
}


@media screen and (max-width: 768px){
    [class*="col-"] {
        width: 100%;
      }
}